body {
    border: solid;
    border-color: red;
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    width: 100vh;
    background-color:rgb(155, 93, 0);
}

.header {
    padding: 5%;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 20%;
    height: 25%; */
}

.screen {
    display: flex;
    border: solid;
    border-color: black;
    background-color: lightgray;
    flex-grow: auto;
}

.button-row {
    display: flex;
}

.button-container {
    display: flex;
    flex-direction: column;
    /* align-items: ; */
}

.button {
    width: 20%;
    height: 30%;
    padding: 20pt;
    border-color: black;
    border: solid;
    border-width: 1pt;
    background-color: aliceblue;
    margin: 1pt;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: rgb(172, 195, 204);}

.button:active {
    background-color: rgb(172, 195, 204);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}