html {
    font-size: 24pt;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0pt;
    background-color:rgb(212, 199, 199);
}

.page-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header,
.footer {
    display: flex;
    min-height: 40pt;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 20pt;
}

.footer {
    display: flex;
    justify-content: right;
    padding-right: 10pt;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 400pt;
    width: 33%;
    min-width: 200pt;
    flex: 1;
    justify-content: center;
}


.screen {
    display: flex;
    border: solid;
    min-height: 20pt;
    height: 10%;
    border-color: black;
    background-color: lightgray;
    flex-grow: auto;
    font-size: 100%;
    align-items: center;
    justify-content: right;
    padding-right: 5pt;
}

.button-row {
    display: flex;
}

.button {
    width: 25%;
    padding: 7%;
    border-color: black;
    border: solid;
    border-width: 1pt;
    background-color: aliceblue;
    margin: .25%;
    box-shadow: 0 9px #999;
    font-size: 50%;
}

.button:hover {
    background-color: rgb(172, 195, 204);
}

.button:active {
    background-color: rgb(172, 195, 204);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}