
.body {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 25%;
}

.button {
    width: 5%;
    height: 7%;
}